* {
    margin: 0;
    padding: 0;
    background-color: black;
}
div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div ul {
    display: flex;
    border-bottom: solid 10px aqua;   
}

div ul li {
    width: 50px;
    height: 50px;
    background-color: black;
    list-style-type: none;
    margin-right: 20px ;
    border-radius: 40px;
    border-bottom: solid 5px red; 
    animation: bouncy 1s linear infinite;
}

@keyframes bouncy {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-150px);}
    100%{transform: translateY(0px);}
    

}
ul li:nth-child(1) {
    animation-delay: 0.2s;
    background-color: chartreuse;
}
ul li:nth-child(2) {
    animation-delay: 0.6s;
    background-color: darkorange;
}
ul li:nth-child(3) {
    animation-delay: 0.4s;
    background-color: deeppink;
}
ul li:nth-child(4) {
    animation-delay: 0.8s;
    background-color: gold;
}
ul li:nth-child(5) {
    animation-delay: 0.4s;
    background-color: royalblue;
}
